name: Build

on:
  pull_request:
  push:
    branches:
      - master

env:
  APP_CENTER_SECRET: ${{secrets.APP_CENTER_SECRET}}

jobs:
  build:
    runs-on: buildjet-8vcpu-ubuntu-2204
    if: ${{ !startsWith(github.event.hear_commit.message, '[skip ci]') }}
    steps:
      - name: CheckOut
        uses: actions/checkout@v3

      - name: Setup Jdk
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Generate Version Info
        run: |
          echo APP_VERSION=$(echo ${{ github.event.head_commit.id }} | head -c 10) >> $GITHUB_ENV

      - name: Write Sign Info
        run: |
          if [ ! -z "${{ secrets.SIGNING_KEY }}" ]; then
            echo releaseStorePassword='${{ secrets.STORE_PASSWORD }}' >> gradle.properties
            echo releaseKeyAlias='${{ secrets.KEY_ALIAS }}' >> gradle.properties
            echo releaseKeyPassword='${{ secrets.KEY_PASSWORD }}' >> gradle.properties
            echo releaseStoreFile='${{ github.workspace }}/keystore.jks' >> gradle.properties
            echo ${{ secrets.SIGNING_KEY_STORE }} | base --decode > ${{ github.workspace }}/keystore.jks
          fi

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: -PappVerName=${{ env.APP_VERSION }} assembleRelease
