name: Build

on:
  pull_request:
  push:
    branches:
      - master

env:
  APP_CENTER_KEY: ${{secrets.APP_CENTER_KEY}}

jobs:
  build:
    runs-on: ubuntu-22.04
    if: ${{ !startsWith(github.event.hear_commit.message, '[skip ci]') }}
    steps:
      - name: CheckOut
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Jdk
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Generate Version Info
        run: |
          echo APP_VERSION=$(echo ${{ github.event.head_commit.id }} | head -c 10) >> $GITHUB_ENV

      - name: Write Sign Info
        run: |
          if [ ! -z "${{ secrets.SIGNING_KEY_STORE }}" ]; then
            echo releaseStorePassword='${{ secrets.STORE_PASSWORD }}' >> gradle.properties
            echo releaseKeyAlias='${{ secrets.KEY_ALIAS }}' >> gradle.properties
            echo releaseKeyPassword='${{ secrets.KEY_PASSWORD }}' >> gradle.properties
            echo releaseStoreFile='${{ github.workspace }}/keystore.jks' >> gradle.properties
            echo ${{ secrets.SIGNING_KEY_STORE }} | base64 --decode > ${{ github.workspace }}/keystore.jks
          fi
          if [ ! -z "${{ secrets.GOOGLE_SERVICE_JSON }}" ]; then
            echo ${{ secrets.GOOGLE_SERVICE_JSON }} | base64 --decode > app/google-services.json
          fi

      - name: Build With Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleRelease

      - name: Upload Built AppCenter apk
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: AppCenter
          path: ${{ github.workspace }}/app/build/outputs/apk/appCenter/release

      - name: AppCenter Distribute
        uses: devussy/AppCenter-Distribute-Github-Action@v1.0.2
        with:
          app: Keriteal/Pokemon-Dex
          token: ${{ secrets.APP_CENTER_TOKEN }}
          group: public
          file: ${{ github.workspace }}/app/build/outputs/apk/appCenter/release/app-appCenter-release.apk

      - name: Get Tag
        id: get-tag
        run: echo "::set-output name=release_tag::$(cat ${{ github.workspace }}/app/version.properties | tr -d 'VERSION_NAME_PREFIX=' | tr -d '\n')"

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.get-tag.outputs.release_tag }}
          files: |
            ${{ github.workspace }}/app/build/outputs/apk/appCenter/release/app-appCenter-release.apk
